setuptools==80.10.2
requests>=2.31.0
bottle==0.13.4
cheroot==11.1.2
wsgi-request-logger==0.4.6
prometheus_client==0.24.1
opentelemetry-api==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-propagator-b3==1.39.1
opentelemetry-instrumentation-requests==0.60b1
cloudevents
