setuptools==80.9.0
requests>=2.31.0
bottle==0.13.4
cheroot==10.0.1
wsgi-request-logger==0.4.6
prometheus_client==0.22.1
opentelemetry-api==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-exporter-otlp-proto-http==1.37.0
opentelemetry-propagator-b3==1.37.0
opentelemetry-instrumentation-requests==0.58b0
cloudevents
