apiVersion: apps/v1
kind: Deployment
metadata:
  name: operator
  namespace: system
  labels:
    control-plane: operator
    app.kubernetes.io/component: serverless-operator.kyma-project.io
    app.kubernetes.io/instance: serverless-operator-deployment
spec:
  selector:
    matchLabels:
      control-plane: operator
      app.kubernetes.io/component: serverless-operator.kyma-project.io
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: operator
        sidecar.istio.io/inject: "false"
        app.kubernetes.io/component: serverless-operator.kyma-project.io
    spec:
      priorityClassName: "operator-priority"
      securityContext:
        runAsNonRoot: true
      containers:
      - command:
        - /operator
        image: controller:latest
        imagePullPolicy: IfNotPresent
        name: manager
        env:
        - name: CHART_PATH
          value: /module-chart
        - name: SERVERLESS_MANAGER_UID
          valueFrom:
            fieldRef:
              fieldPath: metadata.uid
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 1000m
            memory: 512Mi
          requests:
            cpu: 10m
            memory: 64Mi
      serviceAccountName: operator
      terminationGracePeriodSeconds: 10
