# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "actions"
      include: "scope"
    ignore:
      - dependency-name: "gaurav-nelson/github-action-markdown-link-check"

  - package-ecosystem: "docker"
    directory: "/components/operator"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "operator"
      include: "scope"

  - package-ecosystem: "docker"
    directory: "/components/serverless/deploy/jobinit"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "jobinit"
      include: "scope"
  - package-ecosystem: "docker"
    directory: "/components/serverless/deploy/manager"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "manager"
      include: "scope"

  - package-ecosystem: "docker"
    directory: "/tests/gitserver"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "gitserver"
      include: "scope"

  - package-ecosystem: "pip"
    directory: "/components/runtimes/python39/kubeless"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "pip-python39"
      include: "scope"

  - package-ecosystem: "npm"
    directory: "/components/runtimes/nodejs/nodejs16"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "npm-nodejs16"
      include: "scope"
  - package-ecosystem: "npm"
    directory: "/components/runtimes/nodejs/nodejs18"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "npm-nodejs18"
      include: "scope"
  - package-ecosystem: "npm"
    directory: "/tests/gitserver/repos/function"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "npm-test"
      include: "scope"
