# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "gha"
      include: "scope"
  - package-ecosystem: "gomod"
    directory: "/"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "gomod"
      include: "scope"
    ignore:
      # ignore minor k8s updates, e.g. 1.27.x -> 1.28.x
      - dependency-name: "k8s.io/*"
        update-types: ["version-update:semver-minor"]
      - dependency-name: "sigs.k8s.io/*"
        update-types: ["version-update:semver-minor"]
      - dependency-name: "helm.sh/helm/v3"
        update-types: ["version-update:semver-minor"]
    groups:
      manager-toolkit:
        patterns:
          - "github.com/kyma-project/manager-toolkit*"
      k8s-io:
        patterns:
          - "k8s.io/*"

  - package-ecosystem: "docker"
    directory: "/components/buildless-serverless"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "buildless"
      include: "scope"

  - package-ecosystem: "docker"
    directory: "/components/operator"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "operator"
      include: "scope"

  - package-ecosystem: "docker"
    directory: "/components/serverless/deploy/jobinit"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "jobinit"
      include: "scope"
  - package-ecosystem: "docker"
    directory: "/components/serverless/deploy/manager"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "manager"
      include: "scope"
  - package-ecosystem: "docker"
    directory: "/components/serverless/deploy/webhook"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "webhook"
      include: "scope"

  - package-ecosystem: "docker"
    directory: "/tests/gitserver"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "gitserver"
      include: "scope"

  - package-ecosystem: "docker"
    directory: "/components/runtimes/python312"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "python312"
      include: "scope"
    ignore:
      # ignore minor python updates, e.g. 3.9 -> 3.12
      - dependency-name: kyma-project/prod/external/library/python
        update-types: ["version-update:semver-minor"]
  - package-ecosystem: "docker"
    directory: "/components/runtimes/nodejs20"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "nodejs20"
      include: "scope"
  - package-ecosystem: "docker"
    directory: "/components/runtimes/nodejs22"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "nodejs22"
      include: "scope"
  - package-ecosystem: "docker"
    directory: "/components/runtimes/nodejs24"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "nodejs24"
      include: "scope"

  - package-ecosystem: "pip"
    directory: "/components/runtimes/python312"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "pip-python312"
      include: "scope"
    groups:
      opentelemetry:
        patterns:
          - "opentelemetry-*"

  - package-ecosystem: "npm"
    directory: "/components/runtimes/nodejs20"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "npm-nodejs20"
      include: "scope"
    groups:
      opentelemetry:
        patterns:
          - "@opentelemetry/*"
  - package-ecosystem: "npm"
    directory: "/components/runtimes/nodejs22"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "npm-nodejs22"
      include: "scope"
    groups:
      opentelemetry:
        patterns:
          - "@opentelemetry/*"
  - package-ecosystem: "npm"
    directory: "/components/runtimes/nodejs24"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "npm-nodejs24"
      include: "scope"
    groups:
      opentelemetry:
        patterns:
          - "@opentelemetry/*"
  - package-ecosystem: "npm"
    directory: "/tests/gitserver/repos/function"
    labels:
      - "area/dependency"
      - "kind/chore"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "npm-test"
      include: "scope"
