name: kyma-project.io/module/serverless
version:
defaultCR: buildless-serverless-cr.yaml
manifest: serverless-operator.yaml
documentation: "https://help.sap.com/docs/btp/sap-business-technology-platform/serverless-module"
repository: https://github.com/kyma-project/serverless-manager.git
security: sec-scanners-config.yaml
manager:
  name: serverless-operator
  group: apps
  version: v1
  kind: Deployment
associatedResources:
    - group: operator.kyma-project.io
      kind: Serverless
      version: v1alpha1
    - group: serverless.kyma-project.io
      kind: Function
      version: v1alpha2
icons:
  - name: module-icon
    # TODO: provide serverless icon
    link: https://raw.githubusercontent.com/kyma-project/kyma/refs/heads/main/docs/assets/logo_icon.svg