module-name: serverless
kind: kyma
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/function-controller:main
  - europe-docker.pkg.dev/kyma-project/prod/function-build-init:main
  - europe-docker.pkg.dev/kyma-project/prod/registry-init:v20240506-57d31b1d
  - europe-docker.pkg.dev/kyma-project/prod/function-runtime-nodejs20:main
  - europe-docker.pkg.dev/kyma-project/prod/function-runtime-nodejs22:main
  - europe-docker.pkg.dev/kyma-project/prod/function-runtime-nodejs24:main
  - europe-docker.pkg.dev/kyma-project/prod/function-runtime-python312:main
  - europe-docker.pkg.dev/kyma-project/prod/external/gcr.io/kaniko-project/executor:v1.24.0
  - europe-docker.pkg.dev/kyma-project/prod/external/library/registry:3.0.0
  - europe-docker.pkg.dev/kyma-project/prod/serverless-operator:main
  - europe-docker.pkg.dev/kyma-project/prod/function-buildless-controller:main
  - europe-docker.pkg.dev/kyma-project/prod/function-buildless-init:main
mend:
  language: golang-mod
  exclude:
    - "**/test/**"
    - "**/*_test.go"
checkmarx-one:
  preset: go-default
  exclude:
    - "**/test/**"
    - "**/*_test.go"
