setuptools==75.3.0
requests>=2.31.0
bottle==0.13.2
cheroot==10.0.1
wsgi-request-logger==0.4.6
prometheus_client==0.21.0
opentelemetry-api==1.28.1
opentelemetry-sdk==1.28.1
opentelemetry-exporter-otlp-proto-http==1.28.1
opentelemetry-propagator-b3==1.28.1
opentelemetry-instrumentation-requests==0.49b1
cloudevents
