apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    kyma-project.io/module: serverless
    app.kubernetes.io/name: serverless
    app.kubernetes.io/instance: {{ .Values.global.configuration.function.configmapName }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/component: controller
    app.kubernetes.io/part-of: serverless
  name: {{ .Values.global.configuration.function.configmapName }}
  namespace: {{ .Release.Namespace }}
data:
  {{ .Values.global.configuration.function.filename }}: |
    metricsPort: ":{{ .Values.containers.manager.metricsPort }}"
    leaderElectionEnabled: true
    secretMutatingWebhookPort:
    healthzPort: ":{{ .Values.containers.manager.healthzPort }}"
    images:
      repoFetcher: "{{ .Values.global.images.function_init }}"
      nodejs20: "{{ .Values.global.images.function_runtime_nodejs20 }}"
      nodejs22: "{{ .Values.global.images.function_runtime_nodejs22 }}"
      nodejs24: "{{ .Values.global.images.function_runtime_nodejs24 }}"
      python312: "{{ .Values.global.images.function_runtime_python312 }}"
    {{- $config:= .Values.containers.manager.configuration.data }}
    packageRegistryConfigSecretName: "{{ $config.packageRegistryConfigSecretName }}"
    functionTraceCollectorEndpoint: "{{ $config.functionTraceCollectorEndpoint }}"
    functionPublisherProxyAddress: "{{ $config.functionPublisherProxyAddress }}"
    functionReadyRequeueDuration: "{{ $config.functionRequeueDuration }}"
    healthzLivenessTimeout: "{{ $config.healthzLivenessTimeout }}"
    resourcesConfiguration:
{{ .Values.containers.manager.configuration.data.resourcesConfiguration | toYaml | indent 6 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    kyma-project.io/module: serverless
    app.kubernetes.io/name: serverless
    app.kubernetes.io/instance: {{ .Values.global.configuration.log.configmapName }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/component: controller
    app.kubernetes.io/part-of: serverless
  name: "{{ .Values.global.configuration.log.configmapName }}"
  namespace: {{ .Release.Namespace }}
data:
  {{ .Values.global.configuration.log.filename }}: |
{{ .Values.containers.manager.logConfiguration.data | toYaml | indent 4 }}
