{{- if .Values.networkPolicies.enabled }}
# This allows serverless controller to fetch function code from git repositories
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  labels:
    kyma-project.io/module: serverless
    app.kubernetes.io/name: serverless
    app.kubernetes.io/instance: serverless-allow-egress-policy
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/component: network-policy
    app.kubernetes.io/part-of: serverless
    purpose: fn-code-fetching
  namespace: {{ .Release.Namespace }}
  name: kyma-project.io--serverless-allow-egress
spec:
  podSelector:
    matchLabels:
      kyma-project.io/module: serverless
      networking.serverless.kyma-project.io/from-serverless: allowed
  policyTypes:
  - Egress
  egress:
    - {}
---
# This allows serverless controller to scrape metrics from serverless pods (controller and operator)
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  namespace: {{ .Release.Namespace }}
  name: kyma-project.io--serverless-allow-metrics
  labels:
    kyma-project.io/module: serverless
    app.kubernetes.io/name: serverless
    app.kubernetes.io/instance: serverless-allow-metrics-policy
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/component: network-policy
    app.kubernetes.io/part-of: serverless
    purpose: metrics
spec:
  podSelector:
    matchLabels:
      kyma-project.io/module: serverless
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app.kubernetes.io/instance: rma
    - podSelector:
        matchLabels:
          networking.kyma-project.io/metrics-scraping: allowed
    ports:
    - protocol: TCP
      port: 8080
---
# This allows serverless controllers (Function and Serverless controllers) to access the Kubernetes API server
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  namespace: {{ .Release.Namespace }}
  name: kyma-project.io--serverless-allow-to-apiserver
  labels:
    kyma-project.io/module: serverless
    app.kubernetes.io/name: serverless
    app.kubernetes.io/instance: serverless-allow-to-apiserver-policy
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/component: network-policy
    app.kubernetes.io/part-of: serverless
    purpose: apiserver
spec:
  podSelector:
    matchLabels:
      networking.serverless.kyma-project.io/to-apiserver: allowed
  policyTypes:
  - Egress
  egress:
  - ports:
    - port: 443
      protocol: TCP
---
# This allows serverless controller to resolve k8s internal DNS queries
kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  namespace: {{ .Release.Namespace }}
  name: kyma-project.io--serverless-allow-to-dns
  labels:
    kyma-project.io/module: serverless
    app.kubernetes.io/name: serverless
    app.kubernetes.io/instance: serverless-allow-to-dns-policy
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/component: network-policy
    app.kubernetes.io/part-of: serverless
    purpose: dns
spec:
  podSelector:
    matchLabels:
      kyma-project.io/module: serverless
  policyTypes:
    - Egress
  egress:
    - ports:
        - port: 53
          protocol: UDP
        - port: 53
          protocol: TCP
      to:
        - ipBlock:
            cidr: 0.0.0.0/0
    - ports:
        - port: 8053
          protocol: UDP
        - port: 8053
          protocol: TCP
      to:
        - namespaceSelector:
            matchLabels:
              gardener.cloud/purpose: kube-system
          podSelector:
            matchLabels:
              k8s-app: kube-dns
    - ports:
        - port: 53
          protocol: UDP
        - port: 53
          protocol: TCP
      to:
        - namespaceSelector:
            matchLabels:
              gardener.cloud/purpose: kube-system
          podSelector:
            matchLabels:
              k8s-app: node-local-dns
{{- end }}
