{{- if .Values.networkPolicies.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  namespace: {{ .Release.Namespace }}
  name: kyma-project.io--serverless-allow-to-apiserver
  labels:
    kyma-project.io/module: serverless
    app.kubernetes.io/name: buildless-serverless
    app.kubernetes.io/instance: buildless-serverless-allow-to-apiserver-policy
    app.kubernetes.io/version: {{ .Values.global.images.function_controller.version }}
    app.kubernetes.io/component: network-policy
    app.kubernetes.io/part-of: serverless
    purpose: apiserver
spec:
  podSelector:
    matchLabels:
      networking.serverless.kyma-project.io/to-apiserver: allowed
  policyTypes:
  - Egress
  egress:
  - ports:
    - port: 443
      protocol: TCP
{{- end }}
