apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/managed-by: kustomize
    kyma-project.io/module: serverless
    app.kubernetes.io/name: buildless-serverless
    app.kubernetes.io/instance: buildless-serverless-controller-manager
    app.kubernetes.io/version: {{ .Values.global.images.function_controller.version }}
    app.kubernetes.io/component: controller
    app.kubernetes.io/part-of: serverless
  name: serverless-ctrl-mngr
  namespace: {{ .Release.Namespace }}
