apiVersion: v1
kind: Service
metadata:
  name: serverless-ctrl-mngr
  namespace: {{ .Release.Namespace }}
  labels:
    kyma-project.io/module: serverless
    app.kubernetes.io/name: buildless-serverless
    app.kubernetes.io/instance: buildless-serverless-controller-manager
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/component: controller
    app.kubernetes.io/part-of: serverless
  annotations:
    prometheus.io/path: /metrics
    prometheus.io/port: "{{ .Values.containers.manager.metricsPort }}"
    prometheus.io/scrape: "true"
spec:
  type: ClusterIP
  ports:
    - name: http-metrics
      port: {{ .Values.containers.manager.metricsPort }}
      protocol: TCP
      targetPort: {{ .Values.containers.manager.metricsPort }}
    - name: "https"
      port: 443
      protocol: TCP
      targetPort: 8443
  selector:
    app: serverless
    app.kubernetes.io/name: buildless-serverless
    app.kubernetes.io/instance: buildless-serverless-controller-manager
