metricsPort: ":8080"
leaderElectionEnabled: false
healthzPort: ":8090"
images:
  repoFetcher: "europe-docker.pkg.dev/kyma-project/prod/function-buildless-init:main"
  nodejs20: "europe-docker.pkg.dev/kyma-project/prod/function-runtime-nodejs20:main"
  nodejs22: "europe-docker.pkg.dev/kyma-project/prod/function-runtime-nodejs22:main"
  python312: "europe-docker.pkg.dev/kyma-project/prod/function-runtime-python312:main"
packageRegistryConfigSecretName: "serverless-package-registry-config"
functionTraceCollectorEndpoint: "http://telemetry-otlp-traces.kyma-system.svc.cluster.local:4318/v1/traces"
functionPublisherProxyAddress: "http://eventing-publisher-proxy.kyma-system.svc.cluster.local/publish"
resourcesConfiguration:
  function:
    resources:
      minRequestCpu: "10m"
      minRequestMemory: "16Mi"
      defaultPreset: "L"
      presets:
        XS:
          requestCpu: "50m"
          requestMemory: "64Mi"
          limitCpu: "150m"
          limitMemory: "256Mi"
        S:
          requestCpu: "100m"
          requestMemory: "128Mi"
          limitCpu: "200m"
          limitMemory: "256Mi"
        M:
          requestCpu: "200m"
          requestMemory: "256Mi"
          limitCpu: "400m"
          limitMemory: "512Mi"
        L:
          requestCpu: "400m"
          requestMemory: "512Mi"
          limitCpu: "800m"
          limitMemory: "1024Mi"
        XL:
          requestCpu: "800m"
          requestMemory: "1024Mi"
          limitCpu: "1600m"
          limitMemory: "2048Mi"