{{- if .Values.networkPolicies.enabled }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  namespace: {{ .Release.Namespace }}
  name: kyma-project.io--{{ template "fullname" . }}-allow-to-apiserver
  labels:
    {{- include "tplValue" ( dict "value" .Values.global.commonLabels "context" . ) | nindent 4 }}
    purpose: apiserver
spec:
  podSelector:
    matchLabels:
      networking.serverless.kyma-project.io/to-apiserver: allowed
  policyTypes:
  - Egress
  egress:
  - ports:
    - port: 443
      protocol: TCP
{{- end }}
