global:
  configuration:
    configmapName: "serverless-config"
    targetDir: "/appconfig"
    #logFilename: "log-config.yaml"
    functionFilename: "function-config.yaml"
  containerRegistry:
    path: europe-docker.pkg.dev/kyma-project
  images:
    function_controller:
      name: "function-buildless-controller"
      version: "main"
      directory: "prod"
    function_init:
      name: "function-buildless-init"
      version: "main"
      directory: "prod"
    function_runtime_nodejs20:
      name: "function-runtime-nodejs20"
      version: "main"
      directory: "prod"
    function_runtime_nodejs22:
      name: "function-runtime-nodejs22"
      version: "main"
      directory: "prod"
    function_runtime_python312:
      name: "function-runtime-python312"
      version: "main"
      directory: "prod"
containers:
  manager:
    configuration:
      data:
        packageRegistryConfigSecretName: 'serverless-package-registry-config'
        functionTraceCollectorEndpoint: "http://telemetry-otlp-traces.kyma-system.svc.cluster.local:4318/v1/traces"
        functionPublisherProxyAddress: "http://eventing-publisher-proxy.kyma-system.svc.cluster.local/publish"
        resourcesConfiguration:
          function:
            resources:
              minRequestCpu: "10m"
              minRequestMemory: "16Mi"
              defaultPreset: "L"
              presets:
                XS:
                  requestCpu: "50m"
                  requestMemory: "64Mi"
                  limitCpu: "100m"
                  limitMemory: "128Mi"
                S:
                  requestCpu: "100m"
                  requestMemory: "128Mi"
                  limitCpu: "200m"
                  limitMemory: "256Mi"
                M:
                  requestCpu: "200m"
                  requestMemory: "256Mi"
                  limitCpu: "400m"
                  limitMemory: "512Mi"
                L:
                  requestCpu: "400m"
                  requestMemory: "512Mi"
                  limitCpu: "800m"
                  limitMemory: "1024Mi"
                XL:
                  requestCpu: "800m"
                  requestMemory: "1024Mi"
                  limitCpu: "1600m"
                  limitMemory: "2048Mi"
