global:
  containerRegistry:
    path: europe-docker.pkg.dev/kyma-project
  images:
    function_controller:
      name: "function-buildless-controller"
      version: "main"
      directory: "prod"
    function_runtime_nodejs20:
      name: "function-runtime-nodejs20"
      version: "main"
      directory: "prod"
    function_runtime_python312:
      name: "function-runtime-python312"
      version: "main"
      directory: "prod"
containers:
  manager:
    configuration:
      data:
        packageRegistryConfigSecretName: 'buildless-serverless-package-registry-config'
