name: build

on:
  workflow_call:
    inputs:
      tag:
        description: "Additional tag for built images"
        required: false
        type: string
        default: ""
      purpose:
        description: "Purpose of the build (dev - for pull/push, empty - for release)"
        required: false
        type: string
        default: ""
      img_directory:
        description: "Directory of the image (dev/prod)"
        required: false
        type: string
        default: ""
      img_version:
        description: "Version of the image"
        required: false
        type: string
        default: ""

jobs:
  compute-tags:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.get_tag.outputs.TAGS }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - if: ${{ !startsWith(github.event_name, 'pull_request') }}
        name: Get the latest tag
        id: get_tag
        run: |
          {
            echo 'TAGS<<EOF'
            echo "${{ github.sha }}"
            echo "${{ github.ref_name}}"
            echo "${{ inputs.tag }}"
            echo EOF
          } >> "$GITHUB_OUTPUT"

  build-operator:
    needs: compute-tags
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: serverless-operator
      dockerfile: components/operator/Dockerfile
      tags: ${{ needs.compute-tags.outputs.tags }}
      build-args: |
        PURPOSE=${{ inputs.purpose }}
        IMG_DIRECTORY=${{ inputs.img_directory }}
        IMG_VERSION=${{ inputs.img_version }}

  # https://github.com/kyma-project/serverless/issues/998#issuecomment-2191556454
  #  build-gitserver:
  #    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
  #    with:
  #      name: gitserver
  #      dockerfile: Dockerfile
  #      context: tests/gitserver
  #      tags: ${{ needs.compute-tags.outputs.tags }}

  build-serverless-controller:
    needs: compute-tags
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: function-controller
      dockerfile: components/serverless/deploy/manager/Dockerfile
      tags: ${{ needs.compute-tags.outputs.tags }}
      platforms: linux/amd64 # this image does not support arm64

  build-buildless-serverless-controller:
    needs: compute-tags
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: function-buildless-controller
      dockerfile: components/buildless-serverless/Dockerfile
      tags: ${{ needs.compute-tags.outputs.tags }}

  build-serverless-webhook:
    needs: compute-tags
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: function-webhook
      dockerfile: components/serverless/deploy/webhook/Dockerfile
      tags: ${{ needs.compute-tags.outputs.tags }}

  build-serverless-jobinit:
    needs: compute-tags
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: function-build-init
      dockerfile: components/serverless/deploy/jobinit/Dockerfile
      tags: ${{ needs.compute-tags.outputs.tags }}
      platforms: linux/amd64 # this image does not support arm64

  build-buildless-serverless-jobinit:
    needs: compute-tags
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: function-buildless-init
      dockerfile: components/buildless-serverless/Dockerfile.jobinit
      tags: ${{ needs.compute-tags.outputs.tags }}

  build-nodejs20:
    needs: compute-tags
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: function-runtime-nodejs20
      dockerfile: Dockerfile
      context: components/runtimes/nodejs20
      tags: ${{ needs.compute-tags.outputs.tags }}

  build-nodejs22:
    needs: compute-tags
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: function-runtime-nodejs22
      dockerfile: Dockerfile
      context: components/runtimes/nodejs22
      tags: ${{ needs.compute-tags.outputs.tags }}

  build-nodejs22-fips:
    needs: compute-tags
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: function-runtime-nodejs22-fips
      dockerfile: Dockerfile
      context: components/runtimes/nodejs22
      tags: ${{ needs.compute-tags.outputs.tags }}
      use-restricted-registry: true
      build-args: |
        BASE=fips

  build-nodejs24:
    needs: compute-tags
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: function-runtime-nodejs24
      dockerfile: Dockerfile
      context: components/runtimes/nodejs24
      tags: ${{ needs.compute-tags.outputs.tags }}

  build-nodejs24-fips:
    needs: compute-tags
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: function-runtime-nodejs24-fips
      dockerfile: Dockerfile
      context: components/runtimes/nodejs24
      tags: ${{ needs.compute-tags.outputs.tags }}
      use-restricted-registry: true
      build-args: |
        BASE_IMAGE=fips

  build-python312:
    needs: compute-tags
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: function-runtime-python312
      dockerfile: Dockerfile
      context: components/runtimes/python312
      tags: ${{ needs.compute-tags.outputs.tags }}
  
  build-python314:
    needs: compute-tags
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: function-runtime-python314
      dockerfile: Dockerfile
      context: components/runtimes/python314
      tags: ${{ needs.compute-tags.outputs.tags }}

  build-python314-fips:
    needs: compute-tags
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: function-runtime-python314-fips
      dockerfile: Dockerfile
      context: components/runtimes/python314
      tags: ${{ needs.compute-tags.outputs.tags }}
      use-restricted-registry: true
      build-args: |
        BASE_IMAGE=fips
