name: integration tests

on:
  workflow_dispatch:
    inputs:
      trigger_btp:
        description: 'Trigger BTP integration test'
        required: false
        type: boolean
        default: false
      img_directory:
        description: "Directory of the image (dev/prod) used to build right operator's image and its envs in tests"
        required: false
        type: string
        default: ""
      img_version:
        description: "Version of the image used to build right operator's image and its envs in tests"
        required: false
        type: string
        default: ""
  workflow_call:
    inputs:
      trigger_btp:
        description: 'Trigger BTP integration test'
        required: false
        type: boolean
        default: false
      img_directory:
        description: "Directory of the image (dev/prod) used to build right operator's image and its envs in tests"
        required: false
        type: string
        default: ""
      img_version:
        description: "Version of the image used to build right operator's image and its envs in tests"
        required: false
        type: string
        default: ""

jobs:
  operator-integration-test:
    if: ${{ !startsWith(github.event_name, 'pull_request') || github.event.pull_request.draft == false }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - uses: kyma-project/manager-toolkit/.github/actions/setup-go@main
      - uses: kyma-project/manager-toolkit/.github/actions/create-k3d-cluster@main
      - name: run test
        run: |
          kubectl create namespace kyma-system || true
          kubectl apply -f tests/fixtures/deny-all-networkpolicy.yaml
          make -C components/operator deploy
          make -C tests/operator test
        env:
          IMG_DIRECTORY: ${{ inputs.img_directory }}
          IMG_VERSION: ${{ inputs.img_version }}
      - if: ${{ always() }}
        uses: ./.github/actions/collect-cluster-info
        
  fips-mode-operator-integration-test:
    if: ${{ !startsWith(github.event_name, 'pull_request') || github.event.pull_request.draft == false }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - uses: kyma-project/manager-toolkit/.github/actions/setup-go@main
      - uses: kyma-project/manager-toolkit/.github/actions/create-k3d-cluster@main
      - name: run test
        run: |
          kubectl create namespace kyma-system || true
          kubectl apply -f tests/fixtures/deny-all-networkpolicy.yaml
          make -C components/operator deploy-fips-mode
          make -C tests/operator test
        env:
          IMG: ${{ inputs.image }}
          FIPS_MODE: "true"
      - if: ${{ always() }}
        uses: ./.github/actions/collect-cluster-info

  serverless-integration-test:
    if: ${{ !startsWith(github.event_name, 'pull_request') || github.event.pull_request.draft == false }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - uses: kyma-project/manager-toolkit/.github/actions/setup-go@main
      - uses: kyma-project/manager-toolkit/.github/actions/create-k3d-cluster@main
      - name: run test
        run: |
          kubectl create namespace kyma-system || true
          kubectl apply -f tests/fixtures/deny-all-networkpolicy.yaml
          make install-serverless-custom-operator
          make -C tests/serverless serverless-integration serverless-contract-tests
          make remove-serverless
        env:
          IMG_DIRECTORY: ${{ inputs.img_directory }}
          IMG_VERSION: ${{ inputs.img_version }}
      - name: collect cluster info
        if: ${{ always() }}
        run: make -C tests/serverless cluster-info
  
  fips-mode-serverless-integration-test:
    if: ${{ !startsWith(github.event_name, 'pull_request') || github.event.pull_request.draft == false }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - uses: kyma-project/manager-toolkit/.github/actions/setup-go@main
      - uses: kyma-project/manager-toolkit/.github/actions/create-k3d-cluster@main
      - name: run test
        run: |
          kubectl create namespace kyma-system || true
          kubectl apply -f tests/fixtures/deny-all-networkpolicy.yaml
          make install-serverless-fips-mode-custom-operator
          make -C tests/serverless serverless-integration-fips-mode serverless-contract-tests
          make remove-serverless
        env:
          IMG_DIRECTORY: ${{ inputs.img_directory }}
          IMG_VERSION: ${{ inputs.img_version }}
      - name: collect cluster info
        if: ${{ always() }}
        run: make -C tests/serverless cluster-info

  git-auth-integration-test:
    if: ${{ !startsWith(github.event_name, 'pull_request') || github.event.pull_request.draft == false }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - uses: kyma-project/manager-toolkit/.github/actions/setup-go@main
      - uses: kyma-project/manager-toolkit/.github/actions/create-k3d-cluster@main
      - name: run tests
        run: |
          kubectl create namespace kyma-system || true
          kubectl apply -f tests/fixtures/deny-all-networkpolicy.yaml
          make install-serverless-custom-operator
          make -C tests/serverless git-auth-integration
          make remove-serverless
        env:
          APP_TEST_GITHUB_SSH_AUTH_KEY: ${{ secrets.GIT_AUTH_TEST_GITHUB_SSH_KEY }}
          APP_TEST_AZURE_BASIC_AUTH_USERNAME: ${{ secrets.GIT_AUTH_TEST_AZURE_USERNAME }}
          APP_TEST_AZURE_BASIC_AUTH_PASSWORD: ${{ secrets.GIT_AUTH_TEST_AZURE_PASSWORD }}
          APP_TEST_AZURE_SSH_AUTH_KEY: ${{ secrets.GIT_AUTH_TEST_AZURE_SSH_KEY }}
          IMG_DIRECTORY: ${{ inputs.img_directory }}
          IMG_VERSION: ${{ inputs.img_version }}
      - name: collect cluster info
        if: ${{ always() }}
        run: make -C tests/serverless cluster-info
  
  fips-mode-git-auth-integration-test:
    if: ${{ !startsWith(github.event_name, 'pull_request') || github.event.pull_request.draft == false }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - uses: kyma-project/manager-toolkit/.github/actions/setup-go@main
      - uses: kyma-project/manager-toolkit/.github/actions/create-k3d-cluster@main
      - name: run tests
        run: |
          kubectl create namespace kyma-system || true
          kubectl apply -f tests/fixtures/deny-all-networkpolicy.yaml
          make install-fips-serverless-custom-operator
          make -C tests/serverless git-auth-integration-fips-mode
          make remove-serverless
        env:
          APP_TEST_AZURE_BASIC_AUTH_USERNAME: ${{ secrets.GIT_AUTH_TEST_AZURE_USERNAME }}
          APP_TEST_AZURE_BASIC_AUTH_PASSWORD: ${{ secrets.GIT_AUTH_TEST_AZURE_PASSWORD }}
          IMG_DIRECTORY: ${{ inputs.img_directory }}
          IMG_VERSION: ${{ inputs.img_version }}
      - name: collect cluster info
        if: ${{ always() }}
        run: make -C tests/serverless cluster-info

  serverless-migration-test:
    if: ${{ !startsWith(github.event_name, 'pull_request') || github.event.pull_request.draft == false }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - uses: kyma-project/manager-toolkit/.github/actions/create-k3d-cluster@main
      - name: install legacy serverless
        run: |
          make install-legacy-serverless-custom-operator
        env:
          IMG_DIRECTORY: ${{ inputs.img_directory }}
          IMG_VERSION: ${{ inputs.img_version }}
      - name: install default serverless cr and check cr status
        run: |
          kubectl create namespace kyma-system || true
          kubectl apply -f tests/fixtures/deny-all-networkpolicy.yaml
          kubectl apply -f config/samples/default-serverless-cr.yaml
          make -C components/operator check-serverless-installation
          make remove-serverless
      - name: collect cluster info
        if: ${{ always() }}
        run: make -C tests/serverless cluster-info

  btp-integration-test:
    if: ${{ inputs.trigger_btp }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - uses: kyma-project/manager-toolkit/.github/actions/setup-go@main
      - name: compute github commit sha
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - uses: kyma-project/terraform-module/.github/actions/create-sap-btp-kyma@1.0.0
        id: create-btp-resources
        with:
          btp_subaccount_name: serverless-test-${{ steps.vars.outputs.sha_short }}-${{ github.run_attempt }}
          btp_backend_url: '${{ secrets.BTP_BACKEND_URL}}'
          btp_user: '${{ secrets.BTP_BOT_USER}}'
          btp_password: '${{ secrets.BTP_BOT_PASSWORD}}'
          btp_global_account: '${{ secrets.BTP_GLOBAL_ACCOUNT }}'
          btp_idp_tenant: '${{ secrets.BTP_CUSTOM_IAS_TENANT }}'
          btp_subaccount_region: '${{ secrets.BTP_SUBACCOUNT_REGION }}'
          btp_kyma_region: '${{ secrets.BTP_KYMA_REGION }}'
          btp_kyma_plan: '${{ secrets.BTP_KYMA_PLAN }}'
          btp_kyma_modules: "[]"
          btp_kyma_autoscaler_min: 4
      - name: run tests
        run: |
          kubectl create namespace kyma-system || true
          kubectl apply -f tests/fixtures/deny-all-networkpolicy.yaml
          make install-serverless-custom-operator
          make -C tests/serverless serverless-integration
          kubectl delete functions.serverless.kyma-project.io -A --all
          make -C tests/serverless git-auth-integration
          kubectl delete functions.serverless.kyma-project.io -A --all
        env:
          IMG_DIRECTORY: ${{ inputs.img_directory }}
          IMG_VERSION: ${{ inputs.img_version }}
          APP_TEST_GITHUB_SSH_AUTH_KEY: ${{ secrets.GIT_AUTH_TEST_GITHUB_SSH_KEY }}
          APP_TEST_AZURE_BASIC_AUTH_USERNAME: ${{ secrets.GIT_AUTH_TEST_AZURE_USERNAME }}
          APP_TEST_AZURE_BASIC_AUTH_PASSWORD: ${{ secrets.GIT_AUTH_TEST_AZURE_PASSWORD }}
          APP_TEST_AZURE_SSH_AUTH_KEY: ${{ secrets.GIT_AUTH_TEST_AZURE_SSH_KEY }}
      - name: collect cluster info
        if: ${{ always() }}
        run: make -C tests/serverless cluster-info

      - uses: kyma-project/terraform-module/.github/actions/force-delete-sap-btp-subaccount@1.0.0
        if: always()
        with:
          btp_subaccount_id: ${{ steps.create-btp-resources.outputs.subaccount_id }}
          btp_backend_url: ${{ secrets.BTP_BACKEND_URL}}
          btp_user: ${{ secrets.BTP_BOT_USER}}
          btp_password: ${{ secrets.BTP_BOT_PASSWORD}}
          btp_global_account: ${{ secrets.BTP_GLOBAL_ACCOUNT }}
          btp_idp_tenant: ${{ secrets.BTP_CUSTOM_IAS_TENANT }}

