name: upgrade tests

on:
  workflow_call:
    inputs:
      img_directory:
        description: "Directory of the image (dev/prod) used to build right operator's image and its envs in tests"
        required: false
        type: string
        default: ""
      img_version:
        description: "Version of the image used to build right operator's image and its envs in tests"
        required: false
        type: string
        default: ""

jobs:
  operator-upgrade-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: kyma-project/manager-toolkit/.github/actions/setup-go@main
      - uses: kyma-project/manager-toolkit/.github/actions/create-k3d-cluster@main
      - name: upgrade test
        run: |
          make -C components/operator deploy-release
          make -C components/operator deploy
          make -C tests/operator test
        env:
          IMG_DIRECTORY: ${{ inputs.img_directory }}
          IMG_VERSION: ${{ inputs.img_version }}
      - if: ${{ always() }}
        uses: ./.github/actions/collect-cluster-info

  serverless-upgrade-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: kyma-project/manager-toolkit/.github/actions/setup-go@main
      - uses: kyma-project/manager-toolkit/.github/actions/create-k3d-cluster@main
      - name: upgrade test
        run: |
          make install-serverless-latest-release install-serverless-custom-operator
          make -C tests/serverless serverless-integration serverless-contract-tests
          make remove-serverless
        env:
          IMG_DIRECTORY: ${{ inputs.img_directory }}
          IMG_VERSION: ${{ inputs.img_version }}
