name: Gardener integration

on:
  push:
    branches: [ "main", "release-*" ]
    # it should be the same as:
    # https://github.com/kyma-project/test-infra/blob/94bc4aafbc97034f327a8900926fbadc5e921e62/templates/data/serverless.yaml#L308
    # because we need serverless-operator build job first
    paths:
      - config/**
      - components/**
      - sec-scanners-config.yaml
      - .version
      - module-config-template.yaml
  
  workflow_dispatch:

jobs:
  gardener-integration-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: save sa
      shell: bash
      run: 'echo "$GARDENER_SA" > /tmp/gardener-sa.yaml'
      env:
        GARDENER_SA: ${{ secrets.GARDENER_SA }}

    - name: run test
      run: make -C components/operator/hack/ci gardener-integration-test
      env:
        IMG: europe-docker.pkg.dev/kyma-project/prod/serverless-operator:${{ github.sha }}
        GARDENER_SECRET_NAME: ${{ secrets.GARDENER_SECRET_NAME }}
        GARDENER_PROJECT: ${{ secrets.GARDENER_PROJECT }}
        GARDENER_SA_PATH: /tmp/gardener-sa.yaml
        IMG_DIRECTORY: "prod"
        IMG_VERSION: ${{ github.sha }}
