name: pull

on:
  pull_request_target:
    branches:
      - main
    types: [opened, edited, synchronize, reopened, ready_for_review]

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  unit-tests:
    uses: kyma-project/serverless/.github/workflows/_unit-tests.yaml@main

  gitleaks:
    uses: kyma-project/serverless/.github/workflows/_gitleaks.yaml@main

  images-verify:
    if: github.event.pull_request.base.ref == 'main'
    uses: kyma-project/serverless/.github/workflows/_images-verify.yaml@main

  builds:
    uses: kyma-project/serverless/.github/workflows/_build.yaml@main
    with:
      purpose: "dev"
      img_directory: "dev"
      img_version: PR-${{ github.event.number }}

  integrations:
    needs: builds
    secrets: inherit
    uses: kyma-project/serverless/.github/workflows/_integration-tests.yaml@main
    with:
      # TODO: remove 'image' and uncomment after merging the changes in _integration-tests.yaml
      # this job uses workflow from @main so changes on PR will only break the pipeline. We should merge first and then migrate to new args
      image: europe-docker.pkg.dev/kyma-project/dev/serverless-operator:PR-${{ github.event.number }}
      # img_directory: "dev"
      # img_version: PR-${{ github.event.number }}
